.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#b3c2df
  
  );
  font-family: 'Poppins', sans-serif;
}

.auth-card {
  background: #fff;
  padding: 40px 30px;
  border-radius: 16px;
  width: 350px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

input:focus {
  border-color: #6a11cb;
}

.btn {
  width: 100%;
  background: #6a11cb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn:hover {
  background: #5710a5;
}

.switch-text {
  margin-top: 15px;
  font-size: 14px;
}

.switch-text a {
  color: #6a11cb;
  text-decoration: none;
  cursor: pointer;
}
